<ion-view hide-nav-bar="true" title="About Us" id="aboutpage" class=" ">
    <ion-content padding="true" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="setting" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">About Us</h1>
        </ion-header-bar>
        <ion-content padding="true" class="has-header">
            <div style="padding:5px;">
                <div id="brlogocontainer" >
                    <img src="img/brlogo.png" width="200px" height="200px" class="brlogo">
                </div>
                <div class="cgff">
                    BloodRun is an app built for helping blood donor to donate their blood continously
                </div>
                <div id="aboutemail">
                    ismail.a.shobar@gmail.com
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
