<ion-view hide-nav-bar="true" title="BloodCall" id="BloodCallpage" class=" ">
    <ion-content padding="true" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="menu" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">BloodCall</h1>
        </ion-header-bar>
        <ion-content padding="true" class="has-header">
            <div class="cgff bccontainer">
                <div class="bcgoldar">
                    AB Dibutuhkan Segera!
                </div>
                <div class="bcatasnama">
                    Atas Nama ibu Retno
                </div>
                <button class="bctanggal">
                    05/08/2016
                </button>
                <div class="bcketerangan">
                    Bantuan dapat dilakukan dengan menghubungi nomor 081122334455
                    atau bisa langsung ke Rumah Sakit Hasan Sadikin Bandung,
                    Jalan Pasir Kaliki No 12 dan menghubungi Ruang Gawat Darurat No 23.
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
