<div class="cgff evitem" ui-sref="BloodCall">
    <div class="bcgoldar">
        AB Dibutuhkan Segera!
    </div>
    <div class="bcatasnama">
        Atas Nama ibu Retno
    </div>
    <span class="bctanggal">
        05/08/2016
    </span>
</div>

<ion-item id="bcitem" ui-sref="BloodCall">
    <div class="bcgoldar">
        AB Dibutuhkan Segera!
    </div>
    <div class="bcatasnama">
        Atas Nama ibu Retno
    </div>
    <button class="bctanggal">
        05/08/2016
    </button>
</ion-item>
