<div  class="cgff evitem"  ui-sref="Event">
    <div class="textellipsis evtitle">
        Donor Bersama Bapak Mahdan dengan tema "Semua adalah Pengetahuan Umum"
    </div>
    <div  class="textellipsis evaddress">
        Jl.Sangkuriang C2, Bandung
    </div>
    <div class="evdate">
        14 Agustus 2016
        <span class="evstatus"> 9 days left </span>
    </div>
</div>
<div  class="cgff evitem"  ui-sref="Event">
    <div class="textellipsis evtitle">
        Donor Bersama Bapak Mahdan dengan tema "Semua adalah Pengetahuan Umum"
    </div>
    <div  class="textellipsis evaddress">
        Jl.Sangkuriang C2, Bandung
    </div>
    <div class="evdate">
        14 Agustus 2016
        <span class="evstatus"> 9 days left </span>
    </div>
</div>
