<ion-view hide-nav-bar="true" title="BloodCall" id="BloodCallpage" class=" ">
    <ion-content padding="true" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="menu" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">Input Event</h1>
        </ion-header-bar>
        <ion-content padding="true" class="has-header">
            <div class="cgff bccontainer">
                <form class="" ng-submit="submitNF">
                    <span class="input-label" style="width:100%;">Nama Kegiatan</span>
                    <label class="item item-input " >
                        <input type="text" placeholder="" ng-model="evname">
                    </label>
                    <span class="input-label">Penyelenggara</span>
                    <label class="item item-input " >
                        <input type="text" placeholder="" ng-model="evorganizer">
                    </label>
                    <span class="input-label">Alamat</span>
                    <label class="item item-input " >
                        <input type="text" placeholder="" ng-model="evaddress">
                    </label>
                    <span class="input-label">Tanggal</span>
                    <label class="item item-input " >
                        <input type="date" placeholder="" ng-model="evdate">
                    </label>
                    <span class="input-label">Lokasi</span>
                    <label class="item item-input " >
                        <input type="number" placeholder="latitude" ng-model="evlat">
                    </label>
                    <label class="item item-input " >
                        <input type="number" placeholder="longitude" ng-model="evlong">
                    </label>
                    <div class="twinbutton">
                        <button ui-sref="menu" id="su2back" class="round brbutton">back</button>
                        <button id="su2next" class="sumarginbutton round brbutton" type="submit">sign-up</button>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
