<ion-view hide-nav-bar="true" title="Blood Donation Event" id="kegiatanpage" class=" ">
    <ion-content padding="true" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="menu" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">Kegiatan Donor Darah</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <!-- Some content! -->
            <ion-item ui-sref="Event"> Event </ion-item>
        </ion-content>
    </ion-content>
</ion-view>
