<ion-view title="Kegiatan Donor Darah" id="kegiatanpage" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="eventcard">
            <ion-item class="item-avatar " id="eventname">
                <h2>Donor Darah bersama Panti Jomblo</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="kegiatan-list-item-container1">
                <p id="kegiatan-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="kegiatan-list-item12">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>
