<ion-view hide-nav-bar="true" title="Login" id="loginpage" class=" ">
    <ion-content style="" padding="true" class="cgff bakgr1">
        <div style="margin-top:20px;" class="">
            <img src="img/brlogo.png" width="200px" height="200px" class="brlogo">
        </div>
        <!-- form -->
        <form id="login" class="list" name = "login" ng-submit="submitLogin()">
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <ion-list id="login-list1" class=" ">
              <!-- email -->
                <span style="color:white;" class="cgf input-label">Email</span>
                <label class="item item-input " id="login-email">
                    <input type="text" placeholder="someone@somedomain.com" ng-model="email">
                </label>
                <!-- password -->
                <span style="color:white;" class="cgf input-label">Password</span>
                <label class="item item-input " id="login-password">
                    <input type="password" placeholder="password" ng-model="password">
                </label>
            </ion-list>
            <!-- <div class="spacer" style="height: 40px;"></div> -->
            <div class="twinbutton2">
                <button  ng-click="getdata(email,password)" type="submit" id="signup3sign" class="round brbutton submitbutton">Login</button>
              <button  ui-sref="signup" id="signup3back" class="round brbutton backbutton">Sign-up</button>
            </div>
            <div class="link">
                <a class="forgetpas" ui-sref="ForgotPass">Forgot Password?</a>
                <div class="pmireg">
                    <a class="forgetpas" ui-sref="signup2"> PMI Register </a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
