<ion-view hide-nav-bar="true" title="Login" id="loginpage" class=" ">
    <ion-content style="background-color:#A72C2C" padding="true" class="">
        <div style="margin-top:20px;" class="">
            <img src="img/brlogo.png" width="200px" height="200px" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 25px;"></div>
            <ion-list id="login-list1" class=" ">
                <span style="color:white;" class="cgf input-label">Username</span>
                <label class="item item-input " id="login-input1">
                    <input type="text" placeholder="">
                </label>
                <span style="color:white;" class="cgf input-label">Password</span>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <!-- <div class="spacer" style="height: 40px;"></div> -->
            <div style="margin-top:30px;" class="button-bar">
              <button style="background-color:#E4E4E4; color:black; display:inline; margin-left:15%" ui-sref="signup" id="signup3back" class="round brbutton">Sign-up</button>
              <button style="background-color:#660E0E; display:inline; margin-left:15%" ui-sref="menu" id="signup3sign" class="round brbutton">Login</button>
            </div>
            <a style="color:white" ui-sref="#" id="forgotpass" class=" button button-positive  button-block button-clear ">Forgot Password?</a>
            <!-- <a ui-sref="menu" id="login-button1" class=" button button-stable  button-block ">Log in</a>
            <a ui-sref="signup" id="login-button2" class=" button button-positive  button-block button-clear ">Or create an account</a> -->
        </form>
    </ion-content>
</ion-view>
