<ion-view title="Menu" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="menu-list5" class=" ">
            <ion-item class="item-avatar assertive  " id="menu-list-item2" ui-sref="profile">
                <img src="img/0qk5cTSSRcqcFFhINYvG_1720890_200x200.jpg">
                <h2assertive>Bebeb</h2assertive>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="menu-list-item4">
                <h2>Item</h2>
            </ion-item>
            <ion-item id="menu-list-item5" ui-sref="setting" class="  ">Setting</ion-item>
        </ion-list>
        <ion-list id="menu-list9" class=" ">
            <ion-item id="menu-list-item6" class="  ">Item 1</ion-item>
            <ion-item id="menu-list-item7" class="  ">Item 2</ion-item>
            <ion-item id="menu-list-item8" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>