<ion-view hide-nav-bar="true" title="Menu" id="menupage" class=" ">
    <ion-content padding="true" class="cgff bakgr2">
        <div >
            <div id="brlogomenu" ng-click="statuscheck = !statuscheck">
                <img src="img/brlogo2.png" height="25px" style="display: inline;">
            </div>
            <div id="btnlogoutsetting">
                <button ui-sref="setting"  class="smallbrbutton"><i class="icon ion-gear-b"></i></button>
                <button ui-sref="login"  class="smallbrbutton"><i class="icon ion-power"></i></button>
            </div>
        </div>
        <div id="brprofil">
        <div id="brprof" class="cgff " >
            <!-- nama user -->
            <!-- <div id="namauser">
                {{ name }}
            </div> -->
            <!-- <div id="ppstatus" class="round"> -->
                <!-- foto profil -->
                <div id="pprofil" ui-sref="profile" class="round">
                    <img id="imgprofil"  src={{user.foto}}>
                </div>
            <!-- </div> -->
            <div id="profilproperties" class="">
                <div class="">
                    <!-- status -->
                    <div class="pproperties">
                        <div id="statusdonor">
                            <div class="cgff pprop round"  >
                                <i id="ppcheck" ng-show="statuscheck" class="icon ion-checkmark-round"></i>
                                <i id="ppcross" ng-show="!statuscheck" class="icon ion-close-round"></i>
                                <!-- <i class="icon" ng-class="statuscheck ? 'ion-checkmark-round' : 'ion-close-round'"></i> -->
                                <!-- {{ status }} -->
                            </div>
                        </div>
                        <p class="ketproperties">{{ statuscheck ? 'Ready' : '30 days left' }}</p>
                    </div>
                    <!-- jumlah donasi -->
                    <div class="pproperties">
                        <div class="cgff pprop round" >
                            {{user.jumdon}}
                        </div>
                        <p class="ketproperties">Donation</p>
                    </div>
                    <!-- golongan darah -->
                    <div class="pproperties">
                        <div  class="cgff pprop round">
                            {{user.goldar}}
                        </div>
                        <p class="ketproperties">Type</p>
                    </div>
                </div>
                <div ui-sref="profile" id="editprofile" class="cgff redbutton">
                    Edit Profile
                </div>
            </div>
            </div>
        </div>

        <ul id="tab" >
            <li id="tabevent" class="cgff menutab" ng-class="{'tabactive':isTabactive(0)}" ng-click="changeTab(0)" ui-sref='menu.event'>
                <i class="icon ion-waterdrop"></i> Event
            </li>
            <li id="tabbloodcall" class="cgff menutab" ng-class="{'tabactive':isTabactive(1)}" ng-click="changeTab(1)" ui-sref='menu.bloodcall'>
                <i class="icon ion-android-hand"></i> BloodCall
            </li>
            <li id="tabnewsfeed" class="cgff menutab" ng-class="{'tabactive':isTabactive(2)}" ng-click="changeTab(2)" ui-sref='menu.news'>
                <i class="icon ion-social-rss"></i> Newsfeed
            </li>
        </ul>
        <div  >
            <ion-nav-view id="tabcontent" ></ion-nav-view>
        </div>
        <!-- <nav-view>
            <nav-view name="menu-event"></nav-view>
            <nav-view name="menu-news"></nav-view>
            <nav-view name="menu-bloodcall"></nav-view>
        </nav-view> -->

<!--
        <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <div id="test">
            <ion-tab title="Event" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menu/event">
                <ion-nav-view name="menu-event"></ion-nav-view>
            </ion-tab>
            <ion-tab title="News" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/menu/news">
                <ion-nav-view name="menu-news"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Bloodcall" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/menu/bloodcall">
                <ion-nav-view name="menu-bloodcall"></ion-nav-view>
            </ion-tab>

        </div>


        </ion-tabs> -->

        <!-- <div class="">
            <button class="cgff redbutton" ui-sref="kegiatan" style="height:30px; width:177px; border:none; border-radius:30px; margin:10px 0;">
                Blood Donation Event </button>
            </div>
        <div id="bclist">
            <div id="bcbar" class="cgf col" >
                BloodCall
            </div>
            <div class="bccontent">
                <ion-item id="bcitem" ui-sref="BloodCall">
                    BloodCall</ion-item>
                    <ion-item id="bcitem" ui-sref="BloodCall">
                        BloodCall</ion-item>

            </div>

            </div>
            <div id="nflist">
                <div id="nfbar" class="cgf col" >
                    Newsfeed
                </div>
                <ion-item id="nfitem" ui-sref="NewsFeed"> NewsFeed</ion-item>
            </div> -->
        </ion-content>
    </ion-view>
