<div class="">
    <div class="nflistimg">
        <img src="/img/nfimage.jpg" class="nflistimage" alt="" />
    </div>
    <div class="nfitem evitem" ui-sref="NewsFeed">
        <div class="newellipsis nftitlelist">
            100 Kali Donor Darah, 10 Warga Kota Bogor Terima Penghargaan
        </div>
        <span class="cgff nfdate">
            Monday, 21 December 2015
        </span>
    </div>

</div>
<div class="">
    <div class="nflistimg">
        <img src="/img/nfimage.jpg" class="nflistimage" alt="" />
    </div>
    <div class="nfitem evitem" ui-sref="NewsFeed">
        <div class="newellipsis nftitlelist">
            100 Kali Donor Darah, 10 Warga Kota Bogor Terima Penghargaan
        </div>
        <span class="cgff nfdate">
            Monday, 21 December 2015
        </span>
    </div>

</div>
<!-- <ion-item id="nfitem" ui-sref="NewsFeed"> NewsFeed</ion-item> -->
