<ion-view hide-nav-bar="true" title="NewsFeed" id="NewsFeedpage" class=" ">
    <ion-content padding="true" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="menu" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">NewsFeed</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <div class="nfimage">
                <img src="/img/nfimage.jpg" width="100%" />
                <div class="nftitle">
                    100 Kali Donor Darah, 10 Warga Kota Bogor Terima Penghargaan
                </div>
            </div>
            <div class="cgff nfcontainer">

                <div class="nfauthor">
                    Ichsan Emrald Alamsyah
                </div>
                <span class="cgff nfdate">
                    Monday, 21 December 2015, 08:32 WIB
                </span>
                <div class="nfkonten">
                    <p>REPUBLIKA.CO.ID, BOGOR -- Sepuluh warga kota Bogor menerima Satya Lancana Kebaktian Sosial, akhir pekan lalu. Penghargaan yang diserahkan langsung oleh Presiden Republik Indonesia Joko Widodo di Istana Bogor itu diperuntukkan bagi mereka yang telah mengikuti aksi Donor Darah Sukarela hingga 100 kali.</p>
                    <p>Para pahlawan kemanusiaan tersebut adalah Dwiyadi Budianto, Eddy Kuntadi, Enjau Langet, Gatot Sanyoto Wahyu Adi, M Taufik Rohman, Maryono, Paulus Sutanto, Rizal Andreanto, Tunas Karnadi, dan Eko Marwanto. Mereka adalah bagian dari 106 penerima penghargaan serupa di Jawa Barat.</p>
                    <p>Wali Kota Bogor Bima Arya mengapresiasi 10 warganya yang tahun ini telah dengan sukarela melakukan aksi donor darah hingga mencapai 100 kali. Ia berharap aksi itu bisa menjadi tauladan bagi sesama.</p>
                    <p>"Mudah-mudahan apa yang dilakukan dapat menjadi inspirasi bagi warga lain untuk terus berbuat nyata dalam aksi-aksi kemanusiaan," kata Bima, Senin (21/12).</p>
                    <p>Kepala Unit Transfusi Darah PMI Kota Bogor Sri Pinantari mengatakan, kesadaran masyarakat di kota hujan untuk mendonorkan darah memang cukup tinggi. Sepanjang 2015, trennya tercatat meningkat secara signifikan.</p>
                    <p>Dalam setahun, kata Sri, seseorang bisa berdonor maksimal empat kali dalam setahun. Pasalnya, donor darah diperbolehkan dalam jarak tiga bulan sekali.</p>
                    <p>"Jika mencapai 100 kali, bisa dipastikan ia konsisten menyumbangkan darah 25 tahun tanpa henti, atau lebih. Tentu saja itu patut diapresiasi," ungkapnya.</p>
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
