<ion-view hide-nav-bar="true" title="Profile" id="profilepage" class=" ">
    <ion-content padding="false" class="">
        <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button ui-sref="menu" class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
            </div>
            <h1 class="title">Edit Profile</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <div id="eptop">
                    <!-- foto profil -->
                    <div id="epimgbg" class="round">
                        <img id="epimg" src="{{user.foto}}">
                    </div>
                    <!-- change -->
                    <button id="epchangeimg" class="round redbutton cgf ">
                        <i class="icon ion-ios-camera-outline"></i>
                    </button>
                <!-- histori -->
                <div class="cgff" id="ephistori" ng-show="!user.typeuser">
                    <div id="ephproperties">
                        <span>Last Donation</span></br>
                        {{user.lastdonate | date : "d MMMM yyyy"}}
                    </div>
                    <div id="ephview" class="redbutton" ui-sref="Histori">
                        <i class="icon ion-calendar"></i>
                    </div>
                </div>
            </div>
            <!-- First Name -->
            <form ng-submit="submit()">
                <div class="eprow cgff">
                    <div class="cgff eplabelpass " >
                        First Name
                    </div>
                    <div class="epinput">
                        <input class="epinputpass cgff" type="text" name="firstname" ng-model="user.firstname" ng-class="user.typeuser? 'pmi' : 'pendonor'">
                    </div>
                </div>
                <!-- Last name -->
                <div class="eprow cgff">
                    <div class="cgff eplabelpass">
                        Last Name
                    </div>
                    <div class="epinput">
                        <input class="epinputpass cgff" type="text" name="lastname" ng-model="user.lastname">
                    </div>
                </div>
                <!-- Tanggal Lahir -->
                <div class="eprow cgff" ng-show="!user.typeuser">
                    <div id="epbd" class="cgff eplabelpass">
                        Birth Date
                    </div>
                    <div class="epinput">
                        <input class="epinputpass cgff" type="date" name="birthdate" ng-model="user.birthdate">
                    </div>
                </div>
                <!-- Golongan Darah -->
                <div class="eprow cgff" ng-show="!user.typeuser">
                    <div class="cgff eplabelpass">
                        Blood Type
                    </div>
                    <div class="epinput">
                        <input class="epinputpass cgff" type="text" name="golongandarah" ng-model="user.goldar">
                    </div>
                </div>
                <!-- Cabang -->
                <div class="eprow cgff" ng-show="user.typeuser">
                    <div class="cgff eplabelpass">
                        Cabang PMI
                    </div>
                    <div class="epinput">
                        <input class="epinputpass cgff" type="text" name="golongandarah" ng-model="user.cabang">
                    </div>
                </div>
                <!-- Email -->
                <div class="eprow cgff" >
                    <div class="cgff eplabelpass">
                        Email
                    </div>
                    <div class="epinput ">
                        <input class="epinputpass cgff" type="email" name="Email" ng-model="user.email">
                    </div>
                </div>

            </form>
            <div class="eprow cgff">
                <div id="epepass" ng-click="editPassword = !editPassword">
                    Edit password
                </div>
            </div>

            <div ng-show="editPassword" class="transisi">
                <div class="eprow cgff" >
                    <div class="cgff eplabelpass">
                        Old
                    </div>
                    <div class="epinput ">
                        <input class="epinputpass cgff" type="password" name="Password" placeholder="Your old password" value="">
                    </div>
                </div>
                <div class="eprow cgff" >
                    <div class="cgff eplabelpass">
                        New
                    </div>
                    <div class="epinput ">
                        <input class="epinputpass" type="password" name="Password" placeholder="Your new password" value="">
                    </div>
                </div>

            </div>
            <div style="width:100%">
                <button type="submit" id="epsave"  class="round brbutton">
                    Save
                </button>
            </div>
        </ion-content>

    </ion-content>
</ion-view>
