<ion-view title="Setting" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="setting-form6" class="list ">
            <ion-toggle toggle-class="toggle-assertive" id="setting-toggle2" class=" ">Notification</ion-toggle>
            <ion-checkbox>Sound</ion-checkbox>
            <ion-checkbox>Vibration</ion-checkbox>
            <ion-toggle toggle-class="toggle-positive" id="setting-toggle3" class=" ">Auto-detect Location</ion-toggle>
            <ion-item id="setting-list-item9" class="  ">Feedback &amp; Support</ion-item>
            <ion-item id="setting-list-item10" class="  ">About Us</ion-item>
        </form>
    </ion-content>
</ion-view>