<ion-view hide-nav-bar="true" title="Signup" id="signuppage" class=" ">
    <ion-content padding="true" class="" style="">
    <!-- judul -->
    <div style=" height:40px; width:240px; margin:10px auto; ">
      <div style=" display:inline-block">
        <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
      </div>
      <div class="judreg">
        <span style="font-size:30px; display:inline" class="cgf"> REGISTRASI </span>
      </div>
    </div>

      <div class="cgff" style="height:70%; background-color: ;">
        <form id="signup-form2" class="list ">
          <!-- input foto profil -->
          <div style=" margin:10px auto;">
            <div style="display:inline-block; margin: 0px; width:100px; line-height: 100px; text-align: center; background-color:#D4D4D4 ;" class="round">
                <i class="icon ion-person" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div style="margin-left:20px;display:inline-block">Profile photo</div>
          </div>
          <!-- form input profil -->
          <div style="display:block">
            <ion-list id="signup-list2" class=" ">
                <span class="input-label">First Name</span>
                <label class="item item-input " id="signup-input3">
                    <input type="text" placeholder="">
                </label>
                <span class="input-label">Last Name</span>
                <label class="item item-input " id="signup-input4">
                    <input type="text" placeholder="">
                </label>
            </ion-list>
                <span class="input-label">Birth Date</span>
                <label class="item item-input">
                  <input type="date" placeholder="Date">
                </label>
          </div>
        </form>
        <div style="width:260px;margin:30px auto 0;" class="button-bar">
          <button style=" " ui-sref="login" id="signup2back" class="round brbutton">back</button>
          <button style="margin-left:60px; " ui-sref="signup3" id="signup2next" class="round brbutton">next</button>
        </div>
      </div>
    </ion-content>
</ion-view>
