<ion-view hide-nav-bar="true" title="Signup3" id="signup3page" class=" ">
    <ion-content padding="true" class="cgff">
      <div style="width:240px; margin:10px auto; ">
        <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
        <div class="judreg">
          <span style="font-size:30px; display:inline" class="cgf"> REGISTRASI </span>
        </div>
      </div>
        <form id="su3form" class="list ">
          <ion-list id="su3list" class=" ">
              <span class="input-label">Email</span>
              <label class="item item-input " id="su3email">
                  <input type="email" placeholder="">
              </label>
              <span class="input-label">Password</span>
              <label class="item item-input " id="su3pass">
                  <input type="password" placeholder="">
              </label>
              <span class="input-label">Confirm Password</span>
              <label class="item item-input " id="su3cpass">
                  <input type="password" placeholder="">
              </label>
          </ion-list>
          <div class="twinbutton">
            <button  ui-sref="signup2" id="signup3back" class="round brbutton">back</button>
            <button style=" margin-left:60px;" ui-sref="login" id="signup3sign" class="round brbutton">sign-up</button>
          </div>
        </form>
    </ion-content>
</ion-view>
