<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div id="signup-button-bar1" class=" button-bar ">
                <button id="signup-button5" class=" button button-positive  button-block ">1</button>
                <button id="signup-button6" class=" button button-positive  button-block ">2</button>
                <button id="signup-button7" class=" button button-positive  button-block ">3</button>
            </div>
            <a ui-sref="signup2" id="signup-button4" class=" button button-assertive  button-block ">next</a>
        </form>
    </ion-content>
</ion-view>