<ion-view hide-nav-bar="true" title="Signup" id="signuppage" class=" ">
    <ion-content padding="true" class="" style="">
    <!-- judul -->
    <div class="reglogo">
      <div style=" display:inline-block">
        <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
      </div>
      <div class="judreg">
        <span class="cgf regtitle"> REGISTRASI </span>
      </div>
    </div>

      <div class="cgff" style="height:70%;">
        <form id="signup-form2" class="list ">
          <!-- input foto profil -->
          <div class="sumargin">
            <div id="su1profil" class="round">
                <i class="icon ion-person" id="su1ikon"></i>
            </div>
            <div id="su1profillabel">Profile photo</div>
          </div>
          <!-- form input profil -->
          <div style="display:block">
            <ion-list id="signup-list2" class=" ">
                <span class="input-label">First Name</span>
                <label class="item item-input " id="signup-input3">
                    <input type="text" placeholder="">
                </label>
                <span class="input-label">Last Name</span>
                <label class="item item-input " id="signup-input4">
                    <input type="text" placeholder="">
                </label>
            </ion-list>
                <span class="input-label">Birth Date</span>
                <label class="item item-input">
                  <input type="date" placeholder="Date">
                </label>
          </div>
        </form>
        <div class="twinbutton">
          <button ui-sref="login" id="su2back" class="round brbutton">back</button>
          <button ui-sref="signup2" id="su2next" class="sumarginbutton round brbutton">next</button>
        </div>
      </div>
    </ion-content>
</ion-view>
