<ion-view hide-nav-bar="true" title="Signup3" id="signup3page" class=" ">
    <ion-content padding="true" class="cgff">
      <div  class="reglogo">
        <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
        <div class="judreg">
          <span  class="regtitle cgf"> REGISTRASI </span>
        </div>
      </div>
        <form id="su3form" class="list ">
          <ion-list id="su3list" class=" ">
              <span class="input-label">Email</span>
              <label class="item item-input " id="su3email">
                  <input type="email" placeholder="someone@somedomain.com">
              </label>
              <span class="input-label">Password</span>
              <label class="item item-input " id="su3pass">
                  <input type="password" placeholder="password">
              </label>
              <span class="input-label">Confirm Password</span>
              <label class="item item-input " id="su3cpass">
                  <input type="password" placeholder="password">
              </label>
          </ion-list>
          <div class="twinbutton">
            <button ui-sref="signup2" id="signup3back" class="round brbutton">back</button>
            <button ui-sref="login" id="signup3sign" class="sumarginbutton round brbutton">sign-up</button>
          </div>
        </form>
    </ion-content>
</ion-view>
