<ion-view title="Signup3" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup3-form5" class="list ">
            <ion-list id="signup3-list8" class=" ">
                <label class="item item-input " id="signup3-input10">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup3-input11">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup3-input12">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div id="signup3-button-bar3" class=" button-bar ">
                <a ui-sref="signup2" id="signup3-button13" class=" button button-assertive  button-block ">back</a>
                <a ui-sref="login" id="signup3-button15" class=" button button-assertive  button-block ">sign-up</a>
            </div>
        </form>
    </ion-content>
</ion-view>