<ion-view hide-nav-bar="true" title="Signup2" id="signup2page" class=" ">
    <ion-content padding="true" class="cgff">
      <div style="width:240px; margin:10px auto; ">
        <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
        <div class="judreg">
          <span style="font-size:30px; display:inline" class="cgf"> REGISTRASI </span>
        </div>
      </div>
      <span class="input-label">Blood Type</span>
      <ion-list id=su2list style="margin:0 auto">
        <ion-radio style="display:inline-block;width:22%" ng-model="choice" ng-value="'A'">A</ion-radio>
        <ion-radio style="margin-left:3%; display:inline-block;width:22%" ng-model="choice" ng-value="'B'">B</ion-radio>
        <ion-radio style="margin-left:3%; display:inline-block;width:22%" ng-model="choice" ng-value="'AB'">AB</ion-radio>
        <ion-radio style="margin-left:3%; display:inline-block;width:22%" ng-model="choice" ng-value="'O'">O</ion-radio>
      </ion-list>
      <span class="input-label">Donated Times</span>
        <form id="signup2-form10" class="list ">
            <label class="item item-input " id="signup2-input13">
                <!-- <span class="input-label">Input</span> -->
                <input type="text" placeholder="1-2">
            </label>
        </form>
        <span class="input-label">Birth Date</span>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date">
        </label>
        <div style="width:260px;margin:30px auto 0;" class="button-bar">
          <button style=" " ui-sref="signup" id="signup2back" class="round brbutton">back</button>
          <button style="margin-left:60px; " ui-sref="signup3" id="signup2next" class="round brbutton">next</button>
        </div>
    </ion-content>
</ion-view>
