<ion-view hide-nav-bar="true" title="Signup" id="signuppage" class=" ">
    <ion-content padding="true" class="" style="">
        <!-- judul -->
        <div class="reglogo">
            <div style=" display:inline-block">
                <img src="img/brmini.png" width="40px" height="40px" style="display: inline;">
            </div>
            <div class="judreg">
                <span class="cgf regtitle"> REGISTRASI </span>
            </div>
        </div>

        <div class="cgff" style="height:70%;">
            <form id="register" class="list" role="form" ng-submit="submitUser(firstname,lastname,cabang,token,email,password)">
                <!-- input foto profil -->
                <div class="sumargin">
                    <div id="su1profil" class="round">
                        <i class="icon ion-person" id="su1ikon"></i>
                    </div>
                    <div id="su1profillabel">Profile photo</div>
                </div>
                <!-- form input profil -->
                <span class="input-label">First Name</span>
                <label class="item item-input " id="signup-input3">
                    <input type="text" placeholder="First Name" ng-model="firstname">
                </label>
                <span class="input-label">Last Name</span>
                <label class="item item-input " id="signup-input4">
                    <input type="text" placeholder="Last Name" ng-model="lastname">
                </label>
                <span class="input-label">Cabang</span>
                <label class="item item-input">
                    <input type="text" placeholder="Cabang" ng-model="cabang">
                </label>

                <span class="input-label">Bloodrun Token</span>
                <label class="item item-input " id="signup2-input13">
                    <input type="text" placeholder="Token" ng-model="token">
                </label>

                <span class="input-label">Email</span>
                <label class="item item-input " id="su3email">
                    <input type="email" placeholder="Someone@somedomain.com" ng-model="email">
                </label>
                <span class="input-label">Password</span>
                <label class="item item-input " id="su3pass">
                    <input type="password" placeholder="Password" ng-model="password">
                </label>
                <span class="input-label">Confirm Password</span>
                <label class="item item-input " id="su3cpass">
                    <input type="password" placeholder="Password">
                </label>

                <div class="twinbutton">
                    <button ui-sref="login" id="su2back" class="round brbutton">back</button>
                    <button id="su2next" class="sumarginbutton round brbutton" type="submit">sign-up</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
