<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-view hide-nav-bar="true" title="Menu" id="menupage" class=" ">
    <ion-content padding="true" class="cgff bakgr2">
        <div id="brprofil">
            <div id="brprof" class="cgff " >
                <div id="ppstatus" class="round">
                    <button id="pprofil" ui-sref="profile" class="round">
                        <img id="imgprofil"  src={{pimg}}>
                    </button>
                </div>
                <div id="profilproperties" class="">
                    <div class="">
                        <div class="pproperties">
                            <div id="statusdonor">
                                <div id="status-check" >
                                    <i class="icon" ng-class="statuscheck ? 'ion-checkmark-round' : 'ion-close-round'"></i>
                                </div>
                            </div>
                            <p class="ketproperties">{{ statuscheck ? 'Ready' : '30 days left' }}</p>
                        </div>
                        <div class="pproperties">
                            <div id="jumdon" class="cgff " >
                                {{jumdon}}
                            </div>
                            <p class="ketproperties">Donation</p>
                        </div>
                        <div class="pproperties">
                            <div id="golongandarah" class="cgff">
                                {{goldar}}
                            </div>
                            <p class="ketproperties">Type</p>
                        </div>
                    </div>
                    <div ui-sref="profile" id="editprofile" class="cgff redbutton">
                        Edit Profile
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view> -->

<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive">
    <div id="test">
        <ion-tab title="Event" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menu/event">
            <ion-nav-view name="menu-event"></ion-nav-view>
        </ion-tab>
        <ion-tab title="News" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/menu/news">
            <ion-nav-view name="menu-news"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bloodcall" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/menu/bloodcall">
            <ion-nav-view name="menu-bloodcall"></ion-nav-view>
        </ion-tab>

    </div>
</ion-tabs>
