/* Empty. Add your own CSS if you like */
.round{
    border-radius: 50%;
}

.brlogo{
    display: block; margin-left: auto; margin-right: auto;
}

#brlogocontainer{
    border-radius: 50%;
    height: 210px;
    width: 210px;
    margin: 0 auto 10px;
    padding-top: 5px;
    background-color: #D53F34;

}

.statusinactive{
    background-color: lightgrey;
    color: black;
    border: none;
    font-weight: bold;
}
.statusinactive:active{
    background-color: #e3e3e3;
}

.contentpadding{
    padding:10px 15px;
}

.brbutton{
    background-color: #D53F34;
    border: none;
    width: 100px; height: 100px;
    color:white;
    font-size: 20px;
    font-weight:  bold;
    font-family: 'Poppins', sans-serif;
}
.brbutton:active{
    background-color: brown;
}

.cgf{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.cgff{
    font-family: 'Poppins', sans-serif;
}
.inline{
    display: inline-block;;
}
.judreg{
    position:relative;
    bottom:10px;
    height:30px;
    display:inline-block;
}
.redbutton{
    background-color: #D53F34;
    border:none;
    color: white;
}

.redbutton:active{
    background-color: brown;
}

.menutab{
    /*border-radius: 20px 20px 0 0;*/
    padding: 5px 5px;
    background-color: lightgrey;
    border: none;
    border-width: thin;
    /*border-style:  solid;*/
    border-color: white;
    color: black;
    width: 32%;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

#tabevent{
    border-radius: 20px 0 0 0;
    /*background-color: */
    border-right-style: solid;
}

#tabbloodcall{
    /*border-radius:*/
    /*background-color: black;*/
    border-right-style: solid;
}

#tabnewsfeed{
    border-radius: 0 20px 0 0;
    /*background-color: grey;*/
}

.tabactive{
    background-color: #D53F34;
    color: white;
}

#tab{
    width: calc(100% + 5px);
    margin: 10px 5px 0;
    font-size:0;
}

#tabcontent{
    width: calc(100% - 30px);
    height: calc(100vh - 225px);
    background-color: white;
    margin: 0 5px;
}

.twinbutton{
    width:260px;
    display: flex;
    margin:30px auto 0;
}

.scroll {
    height: 100%;
}

.smallbrbutton{
    border-radius: 5px;
    background-color: #D53F34;
    border: none;
    width: 30px; height: 30px;
    color:white;
    font-size: 20px;
    font-weight:  bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 3px;
}
.smallbrbutton:active{
    background-color: brown;
}

#mapz {
    width: 100%;
    height: 480px!important;
}

.regtitle{
    font-size:30px;
    display:inline
}

.reglogo{
    width:240px;
    margin:10px auto;
}

.sumargin{
    margin:10px auto;
}

.sumarginbutton{
    margin-left:60px;
}

/*signup 1*/

#su1profil{
    display:inline-block;
    margin: 0px; width:100px;
    line-height: 100px;
    text-align: center;
    background-color:#D4D4D4 ;
}

#su1profillabel{
    margin-left:20px;
    display:inline-block;
}

#su1ikon{
    font-size: 64px;
    color: rgb(136, 136, 136);
    vertical-align: middle;
}

/*signup 2*/



/*about*/

#aboutemail{
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
    color: #D53F34;
    font-weight: bold;
}

/*main menu*/

#brlogomenu{
    margin:10px 0 0 10px;
    display:inline-block
}

#btnlogoutsetting{
    margin:10px 10px 0 0;
    position:relative;
    float:right;
    bottom:0;
    display:inline-block
}

#brprofil {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:white;

}

#brprof{
    width:100%;
    /*margin:10px 0px;*/
}

#namauser{
    color:#D53F34;
    font-weight:bold;
    text-align:center;
}

.pprop{
    /*border:solid 2px #AF342B;*/
    /*background-color:#D53F34;*/
    height:40px;
    width:60px;
    /*display:inline-block;*/
    font-size: 23px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
    color: #AF342B;
}

#ppcheck{
    position: relative;
    bottom: 2px;

}
 #ppcross{
    position: relative;
    bottom: 2px;
    color: grey;
}



#status-check {
    position: relative;
    /*top: -2px;*/
}

#ppstatus{
    /*border-style: solid;
    border-color: blue;*/
    padding:2.5px;
    height:75px;
    width:75px;
    margin: 0 10px;
    display:inline-block;
    background-color:#D53F34;

}

#profilproperties{
    display: inline-block;
    position: relative;
    bottom: 1px;
    /*background-color: yellow;*/
    width: 70%; height: 75px;

}

#pprofil{
    border:solid 2px #D53F34;
    display:inline-block;
    height:70px;
    width:70px;
    overflow:hidden;
    margin-left: 15px;
}

#imgprofil{
    height:70px; width:70px;
    position: relative;
    /*left: -7px;*/
}

#statusdonor{
    /*padding: 2px 5px;*/
    text-align:center;
    height: 40px;
    /*padding-top: 10px;*/
    font-size: 14px;
}


#editprofile{
    border-radius:30px;
    width: 100%; height: 20px;
    margin: 0 auto;
    text-align: center;
    padding-top: 1px;
}

.pproperties{
    margin: 0 2px;
    display: inline-block;
    /*background-color: lightgrey;*/
    width: 30%;
    margin-left: 1%;

}

.ketproperties{
    text-align: center;
    font-size: 11px;
    margin: 0;
}

#bclist{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color:#fff;

}

#nflist{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color:#fff;
    /*height:200px;*/
}

.nflisttitle{
    color: #AF342B;
    font-size: 16px;
    font-weight: bold;
}

.bccontent{
    /*border-radius: 0 0 10px 10px ;*/

}

.nfitem{
    height: 100px;
}

#bcbar{
    font-size: larger;
    border-radius: 10px 10px 0 0;
    text-align:center;
    background-color:#D53F34;
    color: #fff;
    padding: 10px;
}

#nfbar{
    font-size: larger;
    border-radius: 10px 10px 0 0;
    text-align:center;
    background-color:#FF4C3E;
    color: #fff;
    padding: 10px;
}

/*event*/

.evitemclicked{
    background-color: blue;
}

.evitemnotclicked{
    background-color: yellow;
}

.evitem{
    width: 100%;
    padding : 12px 16px 12px 12px;
    border-bottom : solid thin lightgrey;
}

.evitem:active{
    background-color: #f1f1f1;
}

.textellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newellipsis{

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 20px;     /* fallback */
   max-height: 60px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;

}

#evmap{
    height:calc(100vh - 180px);
}

#evbar{
    width: 100%;
    height: 138px;
    background-color: white;
    border-top-style: solid;
    border-color: #D53F34;
    border-width: 3px;
    bottom: 0;
    position: absolute;
    padding: 5px 8px;

}

#evproperties{

}

.evtitle{
    color: #AF342B;
    font-size: 16px;
    font-weight: bold;

}
.evorganizer{
    color: grey;
    font-size: 12px;
}
.evaddress{
    font-size: 12px;
}
.evdate{
    font-size: 12px;
    font-weight: bold;
}
.evket{
    font-size: 12px;
}
.evstatus{
    /*width: 100px;*/
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    background-color: lightgrey;
    border-radius: 10px;
    /*padding: 0;*/
    text-align: center;
    font-weight: bold;
}



.evdonate{
    width: 70px;
    height: 70px;
    /*background-color: red;*/
    float: right;
    margin: 5px 5px 0 0;
    /*padding-top: 10px;*/
}
.evdonate2{
    width: 70px;
    height: 70px;
    /*background-color: red;*/
    float: right;
    margin: 5px 5px 0 0;
    padding-top: 10px;
}
.evdonate2 i{
    font-size: 10px;
    font-weight: lighter;
    position: relative;
    bottom: 7px;
}

/*reset password*/

#rpemail{
    margin: 15px 0;
}

#rpsubmit{
    float: right;
    margin-right:  20px;
}

#rptext{
    word-wrap: break-word;
    text-align: justify;
    font-size:15px;
    margin: 5px;
}



/*blood call*/

.bccontainer{
    padding: 5px;
}

.bcgoldar{
    color: #D53F34;
    font-weight: bolder;
    font-size: 20px;
}

.bcatasnama{
    font-weight: bold;
    font-size: 15px;

}

.bctanggal{
    border: none;
    padding: 2px 7px;
    border-radius: 20px;
    background-color: lightgrey;
}

.bcketerangan{
    word-wrap: break-word;
    padding-top: 10px;
    text-align: justify;
}

/*News Feed*/


.nflistimg{
    background-color: grey;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    /*border-right:  solid thin lightgrey;*/
    border-bottom:   solid thin lightgrey;
}

.nflistimage{
    max-height: 100px;
    /*max-width: 100px;*/
}

.nfcontainer{
    padding: 5px 15px;
}

.nfimage{
    position: relative;

}

.nftitle{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    bottom:  5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;

}

.nftitlelist{
    color: #AF342B;
    font-size: 13px;
    font-weight: bold;
}

.nfauthor{
    color: grey;
}

.nfdate{
    font-size: 11px;
    border: none;
    padding: 0 7px;
    border-radius: 20px;
    background-color: lightgrey;
}

.nfkonten{
    word-wrap: break-word;
    padding: 10px 5px;
    text-align: justify;
}

/*edit profile*/
.transisi{
    transition: all linear 0.5s;
}


#eptop{
    padding:5px;
    border:solid thin lightgrey;
    height: 110px;
}



#epimgbg{
    display:inline-block;
    height:85px;width:85px;
    overflow:hidden;
    border: solid 2px #D53F34;
    margin: 7px 0 0 7px;
}

#epimg{
    height:85px; width:85px;
    display: inline-block;
}

#epchangeimg{
    border: solid thin #AF342B;
    background-color: #D53F34;
    font-size: 21.5px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 35px;
    right: 20px;
}
#epchangeimg:active{
    background-color: #AF342B;
}


#ephistori{
    /*border: solid 2px #D53F34;*/
    border-radius: 10px;
    float: right;
    height: 55px;
    width: 57%;
    margin: 20px 4% 0 0;
    /*background-color: yellow;*/
    display: inline-block;
    overflow: hidden;
}

#ephproperties{
    /*border: solid 2px grey;*/
    display: inline-block;
    text-align: right;
    background-color: #e0e0e0;
    height: 100%;
    width: 70%;
    padding: 7px 12px 0 0;
}

#ephproperties span{
    font-weight: bold;
    font-size: 13px;
    color: grey;
}

#ephview{
    text-align: center;
    float: right;
    display: inline-block;
    font-size: 27px;
    height: 100%;
    width: 30%;
    padding: 12px 15px;
}
#ephview:active{
    background-color: #AF342B;
}

.eplabel{
    border-radius:0 0 10px 0;
    text-align:right;
    background-color:#D53F34;
    color:white;
    display: inline-block;
    width: 30%;
    padding: 3px 8px;
}

.epinput{
    display: inline-block;
    padding-left: 5px;
}

.eprow{
    display: inline-block;
    margin-top:0;
    width: 100%;
    height: 42px;
    /*background-color: yellow;*/
    border-bottom: solid thin lightgrey;
}

#epepass{
    padding: 10px 15px;
    text-align: left;
    color: #AF342B;
    font-weight: bold;

}

.epinputpass{
    /*background-color: yellow;*/
    width: 230px;

}

.eplabelpass{
    font-size: 13px;
    border-radius:0 0 10px 0;
    text-align:right;
    background-color:#D53F34;
    color:white;
    display: inline-block;
    width: 30%;
    /*height: 100%;*/
    position: relative;
    top: -7px;
    padding: 3px 8px;
}
#epbd{
    top: -10px;
}

#epsave{

    float:right;
    margin:15px 40px;
    font-size:14px;
    border:solid medium #AF342B;
    display:inline-block;
    height:60px;width:60px;
    background-color: #f5f5f5;
    color: black;
}

#epsave:active{
    background-color: #D53F34;
    color: white;
}

#epname{
    display: inline-block;
}

/*Histori*/

.ehbar{
    border-bottom: solid 2px brown;
    height: 56px;
    width: 100%;
    /*background-color: yellow;*/
    padding: 7px 10px;
    overflow: hidden;
    display: inline-block;
    background-color: #f4f4f4;
}

.ehbarprop{
    display: inline-block;
    font-weight: bold;
    color: grey;

}

.ehbarprop span{
    /*display: inline-block;*/
    background-color: lightgrey;
    font-weight: bold;
    color: black;
    padding: 0 5px;
    border-radius: 15px;
    font-size: 12px;

}

.ehbarprop i{
    /*display: inline-block;*/
    /*background-color: lightgrey;*/
    font-weight: normal;
    padding-right: 5px;
    color: black;

}

.ehbarbutton{
    display: inline-block;
    float: right;
    /*background-color: blue;*/
    border-radius: 10px;
    overflow: hidden;
    margin: 2px;
}

#ehadd{
    float : right;
    height: 36px;
    width: 37px;
    text-align: center;
    font-size: 23px;
}

#ehadd:active{
    background-color: brown;
}

.ehinput{
    height: 50px;
    width: 100%;
    /*background-color: yellow;*/
    position: relative;
    bottom: 5px;
    display: inline-block;
    border-bottom: solid 2px brown;
    padding: 7px 10px;

}

#ehinputdate{
    display: inline-block;
}
#ehinputbutton{
    float: right;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 3px 2px;
}
#ehinputbutton:active{
    background-color: brown;
}

.ehnumber{
    float : left;
    display: inline-block;
    height: 100%;
    background-color: #D53F34;
    width: 20%;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    border: none;
}
.ehnumber2{
    float : left;
    display: inline-block;
    height: 100%;
    background-color: #D53F34;
    width: 20%;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 9px;
}

.ehistori{
    display: inline-block;
    width: 80%;
    height: 100%;
    /*background-color: grey;*/
    padding: 7px 10px;
}

.ehitem{
    height  : 75px;
    width   : 100%;
    border-bottom : solid thin lightgrey;
}
.ehitem2{
    height  : 35px;
    width   : 100%;
    border-bottom : solid thin lightgrey;
}

.ehlist{
    height: calc(100vh - 98px);
    /*background-color: grey;*/
    position: relative;
    top: -5px;
    overflow-y: scroll;
}

/*______________________________________________________________________*/
.angular-google-map-container {
    height: 500px;
}

/*background*/
.bakgr1 {
    /*background-color: red;*/
    background: url("../img/brbg3.png");
    background-size: 200px 200px;
    background-repeat: repeat;
}
.bakgr2 {
    /*background-color: #f5f5f5;*/
    background: url("../img/brbg4.png");
    background-size: 100px 100px;
    background-repeat: repeat;
}



/*ef473a*/

.bar.bar-jancuks {
    border-color: #A72C2C;
    background-color: #A72C2C;
    background-image: linear-gradient(0deg, #A72C2C, #A72C2C 50%, transparent 50%);
    color: #fff;
}
.bar.bar-jancuks .title {
    color: #fff;
    text-align: center;
}

.bar-jancuks .button {
    color: #fff;
    text-decoration: none; }


.bar-jancuks .button:hover {
        color: #fff;
        text-decoration: none; }
