/* Empty. Add your own CSS if you like */
.round{
  border-radius: 50%;
}

.brbutton{
  background-color: #A72C2C;
  border: none;
  width: 100px; height: 100px;
  color:white;
  font-size: 20px;
  font-weight:  bold;
  font-family: 'Poppins', sans-serif;
}
.cgf{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.cgff{
  font-family: 'Poppins', sans-serif;
}
.inline{
  display: inline-block;;
}
.judreg{
  position:relative;
  bottom:10px;
  height:30px;
  display:inline-block;
}
.redbutton{
  background-color: #A72C2C;
  border:none;
  color: white;
}

.twinbutton{
  width:260px;
  display: flex;
  margin:30px auto 0;
}
